<div class="row my-2">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="text-white ps-3">Produtos</h6>
                    </div>
                    <div class="col-6 text-end pe-4">
                        <a class="btn bg-gradient-dark"><span class="material-icons">add</span>Novo Produto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">

            </div>
        </div>  
    </div>
</div>

