<div class="row flex">
    <div class="col-lg-4 mb-md-2">
        <div class="card">
            <div class="card-body">
                <span class="mb-2 text-xs">Subitem: <span class="text-dark font-weight-bold ms-sm-2"></span></span><br>
                <span class="mb-2 text-xs">Detalhamento das Ações: <span class="text-dark font-weight-bold ms-sm-2"></span></span><br>
                <span class="mb-2 text-xs">Quantidade: <span class="text-dark font-weight-bold ms-sm-2"></span></span><br>
                <span class="mb-2 text-xs">Duração: <span class="text-dark font-weight-bold ms-sm-2"></span></span><br>
                <span class="mb-2 text-xs">Unidade (dur.): <span class="text-dark font-weight-bold ms-sm-2"></span></span><br>
                <span class="mb-2 text-xs">Valor Unitário: R$ <span class="text-dark font-weight-bold ms-sm-2"></span></span><br>
                <div class="text-center mt-2">
                    <a href="" type="button" class="btn btn-outline-warning btn-sm mb-2">
                        <span class="material-icons">reply</span> Item</a>
                    <a href="" type="button" class="btn btn-outline-info btn-sm mb-2">
                        <span class="material-icons">edit</span> Editar</a>
                    <a href="" type="button" class="btn btn-outline-danger btn-sm mb-2">
                        <span class="material-icons">delete</span> Apagar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 mb-md-2">
    <div class="card mb-2">
        <div class="card-body p-3">
            <h6 class="text-center">Fornecedores</h6>
            <a href=""></a><br>
        </div>
    </div>
</div>